.req-selector {
  flex: 0.4;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: var(--shadow, 0 0 10px rgba(0,0,0,0.1));
}

.req-selector input {
  margin-bottom: 0.5rem;
}

.error-text
{
  color:red
}