.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 20, 20);
  padding: 1rem 2rem;
  position: relative;
}

.user-name {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.desktop-buttons {
  display: flex;
}

.mobile-only {
  display: none;
}

.dropdown-menu-custom {
  position: absolute;
  right: 0;
  top: 120%;
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 6px;
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  align-items: center;
  min-width: 160px;
}

.dropdown-menu-custom button {
  width: 100%;
}

@media (max-width: 768px) {
  .desktop-buttons {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }
}
