.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-sm {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.2rem;
}

.loader-md {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 0.25rem;
}

.loader-lg {
  width: 3.5rem;
  height: 3.5rem;
  border-width: 0.35rem;
}
